@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {
  .container {
    width: min(100% - 1.5rem, 75rem);
    margin-inline: auto;
  }

  .container--wide {
    width: min(100% - 1.5rem, 90rem);
    margin-inline: auto;
  }
}
